[2019-05-23 04:02] membphis opened #5 "feature: supported v3 API of etcd."
we can add a API design first

[2019-05-23 04:09] membphis opened #6 "bugfix: support to parse the nested directory data structure."

[2019-05-23 06:04] #6 closed, assigned to nobody

[2019-06-03 07:18] membphis opened #11 "bug: https://travis-ci.org/iresty/lua-resty-etcd"
[code]

[2019-06-03 08:32] membphis commented on #11
Fixed: https://github.com/iresty/lua-resty-etcd/commit/da7c53adfbecb21ee0843a20991702378c13233e

[2019-06-03 08:32] #11 closed

[2019-06-11 10:49] Colstuwjx opened #13 "is this production ready?"

[2019-06-15 13:02] membphis commented on #13
Not yet, just open source is not long

[2019-06-15 13:05] membphis opened #14 "feature: support TLS connect way"
etcd supports automatic TLS as well as authentication through client certificates for both clients to server as well as peer (server to server / cluster) communication.

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/security.md

[2019-06-20 07:35] membphis opened #15 "feature: there may be a lot of routes, need to support paging queries."
this feature maybe depend on: https://github.com/iresty/lua-resty-etcd/issues/5

[2019-06-28 06:26] EasonFeng5870 opened #16 "Dependency problem"
Could you guys tell where `local tab_nkeys = require "table.nkeys"` is from ?

thanks

[2019-06-28 06:45] membphis commented on #16
https://github.com/openresty/luajit2#tablenkeys

please use the latest openresty `1.15.8.1`, it it released with openresty.

[2019-07-04 13:39] membphis opened #17 "feature: support talking to etcd via TLS."
The TLS authentication for etcd is usually bidirectional, but cosocket is not supported now, but fortunately, there is currently a PR in progress.

we need to fix this first: openresty/lua-nginx-module#997

related issue: https://github.com/iresty/apisix/issues/158

[2019-07-05 10:12] EasonFeng5870 commented on #16
we can't use that version , so I just modified it.

thanks.

[2019-07-05 10:12] #16 closed

[2019-07-09 08:33] wujunze commented on #5
# etcd v3 api 设计
##  参考 golang 的 v3 Client 设计

1.  new
get etcd client

2.  put
Put puts a key-value pair into etcd.

3. get
Get retrieves keys.

4. delete
Delete deletes a key

5. compact
Compact compacts etcd KV history before the given rev.

6. do
Do applies a single Op on KV without a transaction

7. txn
Txn creates a transaction.

[2019-07-09 23:53] membphis commented on #5
the action `new`, `put`, `get` and `delete` are easy to understand.

`compact`, `do` and `txn`, we need a simple use case to make it clearer.

[2019-08-21 07:47] membphis opened #19 "feature: connect to `etcd` by username and password."

[2019-08-21 07:57] #19 closed

[2019-09-10 03:23] membphis opened #20 "feature: support to connect etcd with user/password"
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/authentication.md

[2019-09-10 07:45] #13 closed

[2019-10-17 01:47] tomzhan2019 opened #25 "feature： Support protocol http forced jump to https"
Support protocol http forced jump to https

[2019-10-17 01:49] tomzhan2019 opened #26 "feature： Support regular domain name configuration"
Support regular domain name configuration

[2019-10-17 02:09] tomzhan2019 commented on #26
Wrong place

[2019-10-17 02:10] tomzhan2019 commented on #26
Wrong place

[2019-10-17 02:10] #26 closed

[2019-10-17 02:11] tomzhan2019 commented on #25
wrong place

[2019-10-17 02:11] #25 closed

[2019-10-25 01:28] membphis opened #27 "test: added more test case"
https://github.com/iresty/lua-resty-etcd/pull/23#issuecomment-539937688

[2019-10-25 07:25] #5 closed

[2019-10-28 15:15] membphis opened #33 "doc: new API about v3 protocol"
related PR: https://github.com/iresty/lua-resty-etcd/pull/32 and https://github.com/iresty/lua-resty-etcd/pull/30

[2019-11-05 07:59] DoubleSpout opened #36 "V3 doc mistake"
![image](https://user-images.githubusercontent.com/971370/68188667-a5280300-ffe4-11e9-8af2-61119f3bfb60.png)

[code]

`option.api_prefix` not `option.preifx`

[2019-11-05 08:11] DoubleSpout opened #37 "v3 doc need more example"
v3 doc need more example, such as api return schema like:

[code]

[2019-11-05 09:47] membphis commented on #36
PR welcome

[2019-11-05 09:47] membphis commented on #37
PR welcome

[2019-11-15 02:12] membphis opened #43 "code style"
https://github.com/iresty/lua-resty-etcd/pull/41#issuecomment-552104393

[2019-11-18 03:06] nic-chen commented on #36
#44  has fixed. close.

[2019-11-18 03:06] #36 closed

[2019-11-18 11:52] bingchengxiaobing117 opened #46 "is_auth = not not (user and password)"
/lib/resty/etcd/v3.lua line:168:   is_auth     = not not (user and password)
I want to ask if there is a wrong grammar

[2019-11-18 11:57] membphis commented on #46
`is_auth     = not not (user and password),`
change to ->
`is_auth     = user and password,`

welcome PR

[2019-12-12 15:18] orchaton opened #48 "Couldn't install lua-resty-etcd v0.8 via luarocks"
When I try to install lua-resty-etcd using luarocks I get following error:
[code]

It seems that rockspec refers to non existing tag v0.8:
https://github.com/iresty/lua-resty-etcd/blob/0.8/rockspec/lua-resty-etcd-0.8-0.rockspec#L5

[2019-12-13 03:13] moonming commented on #48
what's your version of `luarocks`?
`luarocks --local install lua-resty-etcd 0.8` works well in my side.

[2019-12-14 15:07] orchaton commented on #48
[code]

After someone pushed a v0.8 I've managed to install it! Thanks :)

[2019-12-14 15:07] #48 closed

[2020-02-10 08:17] fengjx opened #50 "watchdir opts args type error"
- version: 0.8

- v3.watchdir

opts: `progress_notify`, `prev_kv`, `fragment` type error and etcd api response: `json: cannot unmarshal string into Go value of type bool`

add log code and print
[code]
[code]
[code]

this should be bool, maybe protobuf can not convert 'true' / 'false' to a bool
[code]

[2020-02-10 13:20] membphis commented on #50
PR welcome ^_^

[2020-02-20 07:49] wuchencm opened #51 "etcd client cache is supported ?"
etcd client cache is supported ?

[2020-02-20 08:38] membphis commented on #51
Can you support more information? I don't understand what you mean.

[2020-02-21 02:15] wuchencm commented on #51
Does the client connect etcd with each request ，else get the key-value from cache of client

[2020-02-21 05:03] membphis commented on #51
This driver is used to directly manipulate etcd, and the cache should be handed to an external package.

[2020-02-21 10:02] wuchencm commented on #51
Can you provide the  link about etcd cache ？thx

[2020-02-21 10:03] wuchencm opened #52 "error when connect the etcd"
2020/02/21 04:59:32 [error] 16028#16028: *181 [lua] v2.lua:337: get(): failed to json decode: Expected value but found invalid token at character 1, client: 192.168.0.105, server: localhost, request: "GET /gray HTTP/1.1", host: "192.168.0.107"

1 the set methd is ok

`
local cli, err = require("resty.etcd").new({prototol = "v2", http_host = "http://127.0.0.1:2379"})
local res, err = cli:get('/test

[2020-02-21 11:11] membphis commented on #52
I guess the value is not a JSON value, you can print more log for detail.

[2020-02-21 11:13] membphis commented on #51
https://github.com/apache/incubator-apisix/blob/master/lua/apisix/core/config_etcd.lua

you can take a look at this.

[2020-02-21 13:54] wuchencm commented on #52
![{E2F9049A-DA1D-4CA2-A4A4-E3B2B0B7E7A1}_20200221215329](https://user-images.githubusercontent.com/14210543/75039951-b560e100-54f4-11ea-9dfe-6f86123fe9e8.jpg)

[2020-02-21 14:21] membphis commented on #52
https://github.com/iresty/lua-resty-etcd/blob/master/api_v2.md#set

`syntax: res, err = cli:set(key:string, val:JSON value [, ttl:int])`

`lua-resty-etcd` only support JSON value .

[2020-02-21 14:22] #52 closed

[2020-02-22 02:01] wuchencm opened #53 "attempt to call method 'watch' (a nil value)"
** attempt to call method 'watch' (a nil value)**

[2020-02-22 02:11] wuchencm commented on #53
** attempt to call method 'watchdir' (a nil value)**
the same to watchdir

[2020-02-22 02:24] membphis commented on #53
please take a look at this test case, confirm you are using with right way:

https://github.com/iresty/lua-resty-etcd/blob/5e3037f94d3fd350e7d6ce1d29f93d93edc6d522/t/v3/key.t#L125

if you still have a problem, please provide your mini case.

[2020-02-22 02:55] wuchencm commented on #53
my code:
![image](https://user-images.githubusercontent.com/14210543/75085215-dad80400-5561-11ea-810b-8f33a25d4d9b.png)

[2020-02-22 03:11] wuchencm commented on #53
![image](https://user-images.githubusercontent.com/14210543/75085422-09ef7500-5564-11ea-887d-2f08aa4ae8fc.png)

[2020-02-22 03:21] wuchencm commented on #53
`local etcd, err = require("resty.etcd").new({protocol = "v3"})
local body_chunk_fun, err = etcd:watch("/4c",{timeout = 0.5})

if not body_chunk_fun then
        ngx.say("failed to watch: ", err)
end

local idx = 0
while true do
local chunk, err = body_chunk_fun()
  if not chunk then
     if err then
        ngx.say(err)
     end
     break
  end
     idx = idx + 1
        ngx.say(idx, ": ", requi

[2020-02-22 05:36] #50 closed

[2020-02-22 05:57] membphis commented on #53
the error log is `info` level, we can ignore it.

if you use `watch` API, you need to confirm your data in etcd is a JSON value.

please take a mini case like this one: https://github.com/iresty/lua-resty-etcd/blob/5e3037f94d3fd350e7d6ce1d29f93d93edc6d522/t/v3/key.t#L125

We do not know what is the value in your etcd.  If you need help, please provide an example that can reproduce the problem.

[2020-03-16 01:31] membphis opened #55 "bug: missing `healthcheck` when connect to etcd cluster"
`resty-etcd` allows setting multiple etcd addresses, when we try to select one of them, we would like to choose a healthy one, skip the unhealthy one automatically and write an error message for this case.

https://github.com/api7/lua-resty-etcd/blob/4c80dd144d5b05c623b5577b475f0b1fabd708c8/lib/resty/etcd/v2.lua#L120

[2020-03-16 01:32] membphis commented on #55
@nic-chen do you have time to fix this bug?

The etcd v2 and v3 driver both have this bug.

[2020-04-15 07:25] bingchengxiaobing117 opened #56 "it happens time out per 1minute when use etcd v3 watch method"
when I use etcd v3 watch method(default params),The following questions occurs:

1.  it happens time out per 1minute .
2. There is a lot of connection building with etcd server

[code]

`  etcd endpoints has three ip list such as (1.1.1.1:2379;1.1.1.2:2379;1.1.1.3:2379;)`

[code]

@YuanSheng Wang  Have you met this problem? How to solve

[2020-04-15 07:34] moonming commented on #56
@membphis

[2020-04-15 14:28] membphis commented on #56
@nic-chen do you have time to confirm this problem?

[2020-04-15 14:28] membphis commented on #56
we mainly use etcd v2 now.

[2020-04-16 03:21] bingchengxiaobing117 commented on #56
I has used etcd v2 don't has this problem, I think the reason is etcd v3 should be http response with no buffering( cause by the timing of buffer flush ) , you can see etcd office api guide such as `watch`
[code]
so how to set ` the timing of buffer flush` in lua-rest-http module

[2020-05-09 07:14] #46 closed

[2020-05-15 09:34] JansonLiao commented on #17
so the lua-resty-etcd still do not support connect to etcd via TLS?

[2020-05-15 09:38] JansonLiao commented on #14
strongly need the lua-resty-etcd to support TLS way connect etcd

[2020-05-19 17:17] Ara4Sh opened #57 "why only json values"
Hello everyone,

I was trying to replace Redis with etcd to keep my configurations between multiple regions but I checked api7 etcd library only supports values in json, why?

[2020-05-22 10:14] wuchencm commented on #51
thx

[2020-05-22 10:14] #51 closed

[2020-06-03 12:21] membphis commented on #57
I personally prefer the json format.
What other formats do you want to support? yaml?

[2020-06-03 12:24] membphis commented on #17
we can use `etcd proxy`, it is an easy way.

[2020-06-04 07:29] wuchencm opened #58 "auth is supported with v3 ?"
auth is supported with v3 ?

[2020-06-04 07:30] membphis commented on #58
@nic-chen do you know this?

[2020-06-05 07:39] Ara4Sh commented on #55
@membphis I dont if this can help you

 there are 2 approaches I found to implement this one setting up the healthcheck myself using nginx.timers another and the one I chose was using [lua-resty-upstream-healthcheck](https://github.com/openresty/lua-resty-upstream-healthcheck) and then using some code to fetch the endpoint

[code]

I know one limitation is to define the endpoints not only in the c

[2020-06-07 13:53] nic-chen commented on #58
@membphis @wuchencm  yes, auth is supported.

[2020-06-09 13:32] membphis commented on #57
Do you mean to allow users to customize the encoding and decoding method of table -> value?

[2020-06-09 13:38] membphis commented on #55
that is a good way. I think you can make a try for this issue.
welcome PR

[2020-06-11 08:19] membphis opened #59 "change: return error message directly"
We should use the same style between different models.

https://github.com/api7/lua-resty-etcd/blob/4c80dd144d5b05c623b5577b475f0b1fabd708c8/lib/resty/etcd/v2.lua#L185-L190

[2020-06-13 09:15] membphis opened #60 "change: The error messages returned between the single and cluster must be consistent."
https://github.com/api7/lua-resty-etcd/blob/master/lib/resty/etcd/v2.lua#L186-L188

[2020-06-17 12:30] #60 closed

[2020-06-19 05:55] #59 closed

[2020-06-28 08:59] wuchencm opened #63 "ngx.log(ngx.ERR, "failed to check value, got: ", data.body.kvs[1].value,"
ngx.log(ngx.ERR, "failed to check value, got: ", data.body.kvs[1].value,

etcdctl can get the value:

![image](https://user-images.githubusercontent.com/14210543/85943134-9f5ea380-b960-11ea-9905-a4f090860f43.png)

local res, err = cli:get("/offline/999999999999999999999")
for k, v in pairs(res.body.kvs[1]) do
        ngx.say(k , "=", v)
end

create_revision=372 mod_revision=372 key=/offline/999999

[2020-06-28 10:44] wuchencm commented on #63
好像它只能get到自己写入的key-value，无法获取其他客户端工具写入的value，使用使用相同的协议版本v3

[2020-06-28 12:10] membphis commented on #63
only support `json` encoded value now.

[2020-06-29 07:43] wuchencm commented on #63
thx

[2020-06-29 07:43] #63 closed

[2020-06-30 00:42] membphis opened #64 "doc: should use name `dir` for some API"
`syntax: res, err = cli:push(key:string, val:JSON value [, ttl:int])`
to
`syntax: res, err = cli:push(dir:string, val:JSON value [, ttl:int])`

https://github.com/api7/lua-resty-etcd/blob/master/api_v2.md#push

[2020-07-10 08:03] Yiyiyimu opened #65 "lease supported of etcd v3"
To better control time-to-live of keys, one could bind multiple keys to a single lease.

[2020-07-10 10:52] membphis commented on #65
cool

[2020-07-12 10:18] Yiyiyimu commented on #64
I think unified naming would be better for understanding, comparing to leaving both `key` and `dir` in doc.

And I think `key` would fit better for this job, but I think I could also accept change all of them to `dir`. For me, the most negative effect that `dir` could have is the phrase `key-value`. It could be weird to change it to `dir-value`, but if we only leave this phrase here and change all

[2020-07-12 10:31] Yiyiyimu commented on #43
Hi @membphis , I'm a bit confused about this one. What kind of code style do you expect us to have

[2020-07-12 11:59] Yiyiyimu commented on #64
Sorry I think I misunderstood the meaning of this issue, I'll work on this one.

[2020-07-12 12:08] Yiyiyimu commented on #15
Hi @membphis is this still a problem need to fix?

[2020-07-12 12:41] moonming commented on #43
This means a line with a maximum of 80 characters. This is not important.

[2020-07-12 12:43] moonming commented on #15
yes, I think it still a problem

[2020-07-12 13:09] Yiyiyimu commented on #43
Sure thank you @moonming ! Do we need to close this issue?

[2020-07-12 13:10] Yiyiyimu commented on #15
Thank you @moonming I'll try to work on this one

[2020-07-12 13:27] moonming commented on #43
yes, we can close it.

[2020-07-12 13:27] #43 closed

[2020-07-13 08:47] #65 closed

[2020-07-13 13:48] membphis commented on #15
@nic-chen Does the API implementation of the v3 version support paging now?

[2020-07-14 02:26] Yiyiyimu opened #68 "feature: support `compact` for etcd v3"
The length of keyspace is not limited to 1000 anymore in v3. To avoid performance degradation and eventual storage space exhaustion, operation `compact` could drop all information about keys superseded prior to a given keyspace revision. And the compacted ones could not be accessed by `get` or `watch`. Normally, there would be auto compaction when etcd is running.
Detail could be found [here](http

[2020-07-14 02:41] Yiyiyimu commented on #68
Currently when I test to `get` the key at the compacted revision, the response would be successfully returned as
[code]

However, there would be error:
[code]

---

I'll submit a draft PR to reproduce the problem

[2020-07-14 03:24] Yiyiyimu commented on #15
@membphis the option "limit" would do the pagination and yes it has already been implemented in [readdir](https://github.com/api7/lua-resty-etcd/blob/master/api_v3.md#readdir).

[2020-07-14 03:44] membphis commented on #15
many thanks for your reminding @Yiyiyimu

[2020-07-14 05:57] #64 closed

[2020-07-14 09:17] Yiyiyimu commented on #15
My pleasure. Thanks for giving me the chance to understand this feature.

Do we need to close this issue now? @membphis

[2020-07-14 09:44] membphis commented on #15
closed

[2020-07-14 09:44] #15 closed

[2020-08-11 13:59] Gerrard-YNWA opened #71 "bug: missing value field and got decode error while value is an empty string"
reproduce step
1. set empty string
[code]
2. use etcd v2 client get and get body as below
[code]
also an error log from v2.lua
[code]
It seems that `decode_dir_value` didn't hand empty string properly.

After dive in the implement of v2.lua, does this lib only support for json string value?

[2020-08-12 14:57] membphis commented on #71
only support for JSON string value. sure for this now.
if you want to support the original value, we need to export the options `encode/decode` when creating new `etcd` object.

if you would like this feature, welcome PR ^_^

[2020-08-14 10:02] DoubleSpout opened #74 "Bug: If value is large, v3:watch will cause `json decode` error"
If value is large, v3:watch will cause `json decode` error.

http chunk proctocol like this:
`
[chunk size][\r\n][chunk data][\r\n][chunk size][\r\n][chunk data][\r\n][chunk size = 0][\r\n][\r\n]
`

Raw http chunk package is like:

`
32
{some etcd data}

1             <------(here will cause bug)

64
{some etcd data}

0

`

![image](https://user-images.githubusercontent.com/971370/90238211-20fa8a0

[2020-08-14 11:25] membphis commented on #74
welcome PR ^_^

[2020-08-17 00:43] Gerrard-YNWA commented on #71
closed via pr https://github.com/api7/lua-resty-etcd/pull/72

[2020-08-17 00:43] #71 closed

[2020-08-17 03:16] DoubleSpout commented on #74
[https://github.com/api7/lua-resty-etcd/pull/76](https://github.com/api7/lua-resty-etcd/pull/76)

[2020-08-17 03:37] Yiyiyimu opened #77 "feature: support watch cancel"
Since in etcd v3 watch would watch all changes before the timeout, compared to only watch the first change in etcd v2. Thus v3 also supports manually cancel the watch before the watch expires.

[2020-08-17 07:23] #77 closed

[2020-08-17 09:17] Yiyiyimu opened #78 "feature: add lint check"
Add lint-check in makefile and travis CI for better formatting.

Use the same linting strategy as APISIX.

[2020-08-18 03:09] #74 closed

[2020-08-23 22:52] #78 closed

[2020-08-30 04:27] Yiyiyimu opened #81 "bug: etcd v3 could not get version in context of init_worker_by_lua"
Due to https://github.com/openresty/lua-nginx-module#cosockets-not-available-everywhere, etcd v3 could not get the version in  the context of init_worker_by_lua.

[2020-08-30 07:13] Yiyiyimu commented on #81
Closed due to problem solved

[2020-08-30 07:13] #81 closed

[2020-09-06 06:56] Yiyiyimu commented on #56
Hi @bingchengxiaobing117 are you still facing the same problem. It seems I could not reproduce it.

Test code:
[code]

Log:
[code]

[2020-10-19 15:14] gxthrj commented on #55
+1

[2020-10-23 14:22] dickens7 opened #83 "support complex domain names"
- This regular expression verification does not support complex domain names

example：

 -  http://gateway-etcd-headless.test.svc.cluster.local:2379

[2020-10-23 14:39] membphis commented on #83
welcome PR to fix this issue

[2020-10-23 14:42] membphis commented on #83
here is a good way:

https://github.com/ledgetech/lua-resty-http/blob/master/lib/resty/http.lua#L251

[2020-11-02 02:15] tokers opened #88 "mark tag 1.3 is pathological"
Since there is a bug in 1.3 which was fixed now, i think may be we need to mark that tag 1.3 is not safe to use and public the next release.

[2020-11-02 02:31] tokers commented on #88
@membphis

[2020-11-02 02:46] membphis commented on #88
updated. thx.

do you think we need to release a new version 1.4 now?

[2020-11-02 02:50] membphis commented on #88
and I have release v1.4 right now. please make a try ^_^

[2020-11-02 02:50] #88 closed

[2020-11-03 15:58] membphis opened #90 "CI: fail to parse and run"
@tokers please take a look at this issue when you have time.

![image](https://user-images.githubusercontent.com/6814606/98009337-6368ad00-1e30-11eb-8cec-684d407abd0c.png)

![image](https://user-images.githubusercontent.com/6814606/98009237-4633de80-1e30-11eb-85d7-ad89c1fd28c3.png)

[2020-11-05 14:01] #90 closed

[2020-11-07 04:07] tzssangglass commented on #55
Is anyone working on this issues? I want to make a try.

[2020-11-07 04:15] membphis commented on #55
I assigned this issue to you @tzssangglass

[2020-11-07 04:17] tzssangglass commented on #55
ok

[2020-11-08 03:23] membphis opened #93 "CI: broken, it used the latest openresty(1.19.1)"
here is a temporary patch:
https://github.com/apache/apisix/commit/4b349dc5b3a72a7819273d35e387e561a4c536c7

[2020-11-08 03:24] membphis commented on #93
https://travis-ci.org/github/api7/lua-resty-etcd/jobs/742052168

[code]

[2020-11-09 03:44] #58 closed

[2020-11-09 07:33] #93 closed

[2020-11-10 01:22] #83 closed

[2020-11-17 01:40] spacewander commented on #17
Solved by #86. Server side TLS verification is enough to use by now.

[2020-11-17 01:40] #17 closed

[2020-12-03 12:19] nic-chen opened #101 "discuss: endpoint choose issue"
## Background

1. Currently, `lua-resty-etcd` supports cluster mode, but the way of implementation is too simple: each connection changes to the next endpoint.

2. Using this mechanism, it can work well under normal circumstances, but once an api or an instance has a problem, the consequences will be unpredictable.

## Issues with the current solution

1. In cluster mode, when an instance is down,

[2020-12-03 12:21] nic-chen commented on #101
cc @membphis @spacewander  @Yiyiyimu  @tzssangglass

[2020-12-03 13:37] Yiyiyimu commented on #101
Looks great to me. It just how much could we benefit from it.

[2020-12-03 14:51] membphis commented on #101
related PR: https://github.com/api7/lua-resty-etcd/pull/96

[2020-12-05 03:58] tzssangglass commented on #101
get it , assigned to me.

[2020-12-07 11:55] wfnuser opened #103 "Doc: Running nginx tests failure. `unknown directive "lua_socket_log_errors"`"
Hi.
I cloned the source code.
Installed some dependencies by the following instructions.
`cpan Test::Nginx`
`brew install nginx` version 1.19.5

I mkdir `/Users/qinghao/Workspace/OpenSource/apisix/lua-resty-etcd/t/v2/t/servroot` in my workdir.
And then I runned `prove key.t`.
After that I met some errors.

![image](https://user-images.githubusercontent.com/8191686/101347849-a43b6200-38c5-11eb-9c65

[2020-12-07 12:06] spacewander commented on #103
Please take a look at https://github.com/api7/lua-resty-etcd/blob/master/.travis.yml.

[2020-12-07 12:14] wfnuser commented on #103
Thx. Should we update the readme?

[2020-12-07 12:17] wfnuser commented on #103
It seems the travis.yml doesn't work on MacOSI? @spacewander

[2020-12-07 13:10] spacewander commented on #103
Use Linux, the best OS for developer.

[2020-12-07 13:18] wfnuser commented on #103
I have solve the env problem on Mac OS. Should I provide a guide for it?

[2020-12-08 08:12] membphis commented on #103
@wfnuser you can submit a new PR, add some doc for this. it maybe helpful for other developer

[2020-12-08 08:16] spacewander commented on #103
I don't like this idea. We should not put the whole OpenResty best practice to a simple project.

[2020-12-08 08:18] spacewander commented on #103
And we can't keep this documentation up to date. It is nothing about the etcd client.

[2020-12-08 08:22] #103 closed

[2020-12-08 09:21] akuzia commented on #57
@membphis @Gerrard-YNWA

Looks like something broke in v3:

`local etcd = require "resty.etcd"

                local conn, err = etcd.new({
                    protocol = "v3",
                    http_host = {
                        "http://etcd1:2379",
                        "http://etcd2:2379",
                        "http://etcd3:2379"
                    }
                })

[2020-12-08 09:35] membphis commented on #57
@akuzia you can create a new `bug` issue, if this is bug, we can fix it.

I want to close this issue now. because this original issue has been fixed by PR https://github.com/api7/lua-resty-etcd/pull/72

[2020-12-08 10:07] akuzia opened #105 "raw serializer returns no value prop on keys created without quotation marks"
`etcdv3:get` method table has no value prop. on keys created without double quotation marks:

[code]

[code]

`{"version":"1","key":"\/foo\/baz","mod_revision":"19","create_revision":"19"}`

But if you create key with double quotes:
[code]
`{"version":"3","key":"\/foo\/baz","create_revision":"19","mod_revision":"24","value":"bar"}`

etcdv3:set method predictably puts values with quotation marks

[2020-12-08 10:07] akuzia commented on #57
@membphis I wasn't able to determine myself is it a bug or made intentionally. Ok, I'll create new issue now #105

[2020-12-08 10:13] membphis commented on #105
@nic-chen @Yiyiyimu do you have time to look at this issue?

[2020-12-08 10:14] #57 closed

[2020-12-08 10:59] Gerrard-YNWA commented on #105
Hello, as far as I konwn， `serializer` option was not implemented yet in v3 api.

[2020-12-08 13:13] nic-chen commented on #105
yes, we only support json format now, PR is welcome.

[2020-12-08 13:15] akuzia commented on #105
Json serializer behaves the same way in my testing

[2020-12-08 14:47] membphis commented on #105
please confirm, @nic-chen

[2020-12-08 14:48] Gerrard-YNWA commented on #105
@akuzia because default `cjson.encode` trims the double quote.

I just submit a patch https://github.com/Gerrard-YNWA/lua-resty-etcd/tree/feat/v3-serializer-opt to support raw serializer option, but currently the test was not covered, will add some test case later and send a pr.

If you need this feature, you can try this patch ahead.

[2020-12-08 15:01] membphis commented on #105
@Gerrard-YNWA help you to submit a PR right now(draft status). you can add the test case later

[2020-12-09 03:35] wfnuser commented on #103
I can't understand. I think the lua-resty-etcd lib should run on as many platforms as possible? If people are using macOS to develop it, it will be hard to set up the development environment, especially for people not familiar with nginx and openresty like me. @spacewander @membphis
Or at least you should provide some guide to set up the development environment by docker.

[2020-12-09 04:08] spacewander commented on #103
You can refer the installation guide of OpenResty / Test::Nginx.

I doubt people who can't even figure out how to setup the environment can develop it. We need some domain knowledge to solve the problem, setup the environment by yourself to make your hand dirty is a good place to gather those knowledge. RTFS/RTFM is the other way.

[2020-12-09 06:22] wfnuser commented on #103
Ok. Maybe add a link on README? It took me some time to find that how this test files are work. I have no idea what Test::Nginx is. If you give me some clue at first, it will save some time.

[2020-12-16 16:41] tzssangglass commented on #101
Hi folks,
after two tries, and the discussion with @membphis , I found that the previous designs were flawed, so now I'm going to publish some design ideas and ask for your opinions before I try to do it.

![181608135556_ pic_hd](https://user-images.githubusercontent.com/30819887/102376488-a6f13200-3ffe-11eb-8dee-34ae73907442.jpg)

1. the health check instance is global and manages an endpoinds po

[2020-12-17 01:18] tzssangglass commented on #101
ping @membphis @nic-chen @spacewander @tokers

[2020-12-17 06:14] Gerrard-YNWA commented on #105
@akuzia patch has been merged https://github.com/api7/lua-resty-etcd/pull/106, hope it can help you.

[2020-12-17 08:32] nic-chen commented on #101
@tzssangglass
How do we implement the `health check instance`?  it's not mentioned above.

[2020-12-17 11:02] membphis commented on #101
@tzssangglass I think you can take a look at this plugin[api-breaker]: https://github.com/apache/apisix/blob/master/apisix/plugins/api-breaker.lua#L168

it should be useful for you

[2020-12-17 13:47] tzssangglass commented on #101
got, let me study it

[2020-12-17 13:50] tzssangglass commented on #101
the `health check instance` is independent of the `etcd instances`, which I think can be created in the `init_worker_by_lua` phase

[2020-12-21 01:29] tzssangglass commented on #101
I am busy during this period, so this work will be slow.

[2020-12-21 16:27] tzssangglass commented on #101
I've updated the flowchart a bit to hopefully convey my thoughts more clearly.
![201608567280_ pic_hd](https://user-images.githubusercontent.com/30819887/102797533-c74c3280-43ea-11eb-8107-a5cf1e9d4ce2.jpg)

- checker parameter setting: the checker parameters(`fail_timeout`, `max_fails`) are global, not per etcd client.
- choose endpoint: the function `choose_endpoint` of the etcd client checks if

[2020-12-22 09:08] membphis commented on #101
@tzssangglass I think we can avoid using the `init_worker_lua` phase. Lua top-level variable should be enough.

![image](https://user-images.githubusercontent.com/6814606/102870286-c9a89e00-4477-11eb-949f-5f9561c634bd.png)

The others are LGTM . ^_^

[2020-12-22 14:09] tzssangglass commented on #101
got

[2021-01-18 11:57] Ben0625 opened #110 ""lua tcp socket read time out" keeps flushing and "worker is shutting down" after reloading"
I'm trying to write a simple timer function to watch a specified key in etcd.
It seems that this funtion can work: When I change the value of key in etcd, it will get the changes as expected. But when there is no changes, "lua tcp socket read time out" keeps flushing in error.log.

After I execute openresty -s reload, the previous worker process will not exit and keep the status "worker process is

[2021-01-18 12:45] membphis commented on #110
you can make a try with this directive: http://nginx.org/en/docs/ngx_core_module.html#worker_shutdown_timeout

[2021-01-18 12:57] Ben0625 commented on #110
I add it in nginx.conf at the beginning, but it seems that it does not work......

worker_processes 1;
error_log logs/error.log info;
worker_shutdown_timeout 5s;

events {
    worker_connections 1024;
}
http {
   init_worker_by_lua_block{
        local w = require("watch");
        w:init();
   }
}

By the way, I find that "lua tcp socket read time out" can be turned off, so this is solved.

[2021-01-18 13:00] Ben0625 commented on #110
I also try to use watchcancel:
local res, err, http_cli = cli:watch('/path/to/key', {need_cancel = true})
res = cli:watchcancel(http_cli)

but http_cli is always nil which is very confusing......

[2021-01-18 13:10] Ben0625 commented on #110
https://groups.google.com/g/openresty/c/JmPf9HtdYwk/m/pipGQ67sEQAJ
I check this discuss and put the check in code:

if ngx.worker.exiting() then
    return
end

before recursively creating a new timer, then there is no process in "worker is shutting down" status.
Thanks membphis for quickly responsing.

[2021-01-18 13:11] #110 closed

[2021-01-25 15:31] #101 closed

[2021-01-26 02:20] Yiyiyimu opened #111 "Bug: when no endpoints is healthy, "it will cause crazy retries""
#109 fixed the situation when some endpoints got taints it could be jumped over. But when all endpoints are unhealthy, it keeps the old method, so the problem of #101 still not fixed and "it will cause crazy retries". See [discussion](https://github.com/api7/lua-resty-etcd/pull/109#discussion_r560273225)

[2021-01-26 02:20] Yiyiyimu commented on #111
ping @tzssangglass @nic-chen @membphis

[2021-01-26 04:11] membphis commented on #111
I added a `bug`, let us fix it

[2021-01-26 04:37] tzssangglass commented on #111
so we stop requesting etcd  when all endpoints are unhealthy?

[2021-01-26 07:56] nic-chen commented on #111
How about increasing the waiting time?

[2021-01-26 08:19] tzssangglass commented on #111
ngx.sleep?

[2021-01-26 10:08] membphis commented on #111
It is more reasonable for the caller to add processing logic.

[2021-01-26 14:21] tzssangglass commented on #111
provide some processing strategies for caller to choose from?

- stop requesting etcd(default)
- ngx.sleep
- keeps the old method

[2021-01-26 14:23] tzssangglass commented on #111
are you saying let the caller write the code themselves and have `healthcheck` call it?

[2021-01-26 15:13] membphis commented on #111
When there is no healthy node available, we can directly return an error message.
The caller decides how long to sleep based on the return error message.

[2021-01-26 16:36] tzssangglass commented on #111
agree +1

[2021-01-27 05:15] membphis commented on #111
we can check the process way in APISIX ^_^

[2021-01-28 01:17] tzssangglass commented on #111
assigned me, fix later

[2021-01-29 03:39] membphis opened #113 "change ci to Github Action"
![image](https://user-images.githubusercontent.com/6814606/106228596-a87d5f00-6226-11eb-84c6-f93c56555086.png)

[2021-01-29 04:04] #105 closed

[2021-01-29 14:29] #111 closed

[2021-01-29 15:59] #113 closed

[2021-02-02 08:07] Yiyiyimu opened #115 "Request help: new release to support etcd health-check"
Hi @membphis I think we could release a new version

[2021-02-02 08:18] membphis commented on #115
would you like to submit a PR?

for example: https://github.com/api7/lua-resty-etcd/commit/804a6a61cb1721945ff45d740a7fdcf76db6c876

[2021-02-02 08:42] Yiyiyimu commented on #115
No problem got it

[2021-02-02 08:42] Yiyiyimu commented on #115
No problem got it

[2021-02-03 15:17] membphis commented on #115
merged https://github.com/api7/lua-resty-etcd/pull/116

[2021-02-03 15:17] #115 closed

[2021-02-04 05:22] findmark opened #118 "etcd v3 set timeout to 0 causing "can't resume a dead coroutine""
Hi there, when I use watch feature with etcd v3, unexpected error occurred when setting timeout to 0, which I need to keep watching the peers, any idea what I was missing?

my code
`
   local func, err = _M.etcd:watch(key, {
        timeout = 0 -- forever watch
    })
`

log info
`
2021/02/04 12:08:50 [info] 10188#12103689: *5 [lua] v3.lua:518: request_chunk(): http request meth
od: POST path: /v3

[2021-02-04 15:13] membphis commented on #118
@Yiyiyimu do you have time to look at this issue?

[2021-02-05 01:44] Yiyiyimu commented on #118
Working on it.

[2021-02-05 03:34] Yiyiyimu commented on #118
Hi @findmark, it seems I could not reproduce the error. Could you provide a minimum reproduce steps and environment? Or you could try mine, change the timeout in the test and see if it works.

BTW, it seems we could not set `timeout = 0` to get forever watch, it would turn to use the default `lua_socket_connect_timeout` when we do `tcpsock:settimeout(0)`. You could get that from openresty [test ca

[2021-02-05 05:23] findmark commented on #118
hi @Yiyiyimu , sorry for the delay, actually I already figured out the issue yesterday.
In general, it happens because the [document](https://github.com/api7/lua-resty-etcd/blob/master/api_v3.md) here says set to 0 to disable timeout. So I assumed set to 0 can forever watch the etcd key changes. But turn out it will timeout after 10s, maybe is the default timeout settings, not sure yet. Therefore,

[2021-02-05 07:06] Yiyiyimu commented on #118
Hi @findmark! Glad you fix it! Sorry for the document error, thanks for the remind and I'll fix it later.

I'm in APISIX wechat group, if by any chances you're interested in Apache APISIX, you could send me your wechat ID through email and I'll get you in. Also you could find other APISIX Community like [QQ group/Slack/Mailing List](https://github.com/apache/apisix#community)

[2021-02-05 10:52] findmark commented on #118
Thanks for the advice, i will checkout apisix first! Nice meeting you and happy new year in advance!

[2021-02-05 10:52] #118 closed

[2021-02-05 11:54] Yiyiyimu commented on #118
@findmark Happy new year~

[2021-02-25 11:28] GBXing opened #121 "If a node in the ETCD cluster dies, it cannot be accessed properly"
If you configure 3 nodes of ETCD in the configuration file, as long as one node dies, the access to ETCD will be wrong. Can resty.etcd determine whether the node is healthy or not?

[2021-02-25 13:04] spacewander commented on #121
I saw you have submitted the same issue to APISIX: https://github.com/apache/apisix/issues/3673

Close as duplicated.

[2021-02-25 13:04] #121 closed

[2021-03-08 10:41] GoneGo1ng opened #122 "bug: etcd token refresh"
### Summary

I found a bug with token refresh. When lua-resty-etcd refreshes the token, the request failed. And ETCD reports `Token is expired`.

I think the error is caused by the first piece of code. When `ignore_auth` is true, the request header should not be carried `jwt_token`.

So I changed the code to the second piece. Then the error won't happen again.

I don't know if I'm doing it right,

[2021-03-09 01:55] spacewander commented on #122
LGTM.
@nic-chen @Yiyiyimu
What about your opinions?

[2021-03-09 02:07] Yiyiyimu commented on #122
Nice catch @GoneGo1ng ! Welcome submit a PR 😁

[2021-03-09 02:52] #122 closed

[2021-03-22 07:25] spacewander commented on #33
Done

[2021-03-22 07:25] #33 closed

[2021-03-22 07:25] spacewander commented on #20
Done

[2021-03-22 07:25] #20 closed

[2021-03-22 15:24] #14 closed

[2021-03-24 01:29] findmark opened #126 "something wrong with decode json kv.value"
hi, I use the newest version but I got the following issue:

`2021/03/24 09:25:19 [error] 6112#54059: *13 lua entry thread aborted: runtime error: /usr/local/share/lua/5.1/resty/etcd/v3.lua:487: attempt to index field 'serializer' (a nil value)`

I believe serializer default is json as the doc mention in v3.md. Nvm, I set it to json manually, but I got error message instead , I believe is the same

[2021-03-24 01:41] findmark commented on #126
I just figure this out by looking into the source code, require this when new etcd instance, not sure is the correct way to handle this.
![image](https://user-images.githubusercontent.com/16549906/112241080-86331b00-8c84-11eb-9fdf-ea3780752e07.png)
Also, the option [here](https://github.com/api7/lua-resty-etcd/blob/master/api_v3.md#new) maybe need a little bit ajust or give a brief example would b

[2021-03-24 04:02] spacewander commented on #126
@Yiyiyimu
Would you take a look at this issue? Thanks!

[2021-04-12 09:22] Yiyiyimu commented on #126
Hi @findmark sorry I lost track on this issue, hope it's not too late 😬

Actually, the accepted option for `serializer` is `json` and `raw`. As you could find in the test code
https://github.com/api7/lua-resty-etcd/blob/16a57331cb5557aa15a06a8533696606d1fcc5e6/t/v3/serializer.t#L58-L61
And yes the documentation is a bit confusing 🤦  If you got time, welcome draft a PR to refine it~

[2021-07-06 04:53] gxthrj opened #139 "request help: Do not use keepalive when connecting etcd v3"
Now etcd v3 uses keepalive. When the user has a proxy between APISIX and etcd, and the proxy setting timeout is lower than the time of  updating connection in connection pool, it will cause APISIX to report an error `failed to fetch data from etcd: closed`.

Ref: https://github.com/api7/lua-resty-etcd/blob/master/lib/resty/etcd/v3.lua#L114

[2021-07-09 03:14] wfnuser opened #140 "I think there is something wrong with CI."
https://github.com/api7/lua-resty-etcd/pull/107
In this pull request, the ci failed at first. After I just rebase the code to master, the ci had been passed.
I think we should run CI after merge the code automatically? What do you say?
Otherwise, even the CI passed, you can not sure after merge the CI will pass.

[2021-07-09 12:49] Yiyiyimu commented on #140
Hi @wfnuser I think it got fixed in #120

[2021-07-09 14:17] wfnuser commented on #140
Aha... Let me search about what fail fast done.

[2021-07-09 14:17] wfnuser commented on #140
So it doesn't work in my pull request. Is just because the CI config file wasn't updated yet?

[2021-07-09 14:57] Yiyiyimu commented on #140
Since #107 is submitted before #120, I guess the need for merge master to make the fix in #120 work is expected

[2021-07-11 15:51] wfnuser commented on #140
Cool.

[2021-07-11 15:51] #140 closed

[2021-11-25 08:26] smallbirdwy opened #151 "error "ngx_http_lua_ffi_exec_regex""
when i require etct.lua , lua entry thread aborted: runtime error /nginx/lualib/ngx/re.lua:47 missing declaration for symbol 'ngx_http_lua_ffi_exec_regex'

nginx version: openresty/1.15.8.1
built by gcc 4.8.5 20150623
built with Openssl 1.1.1c

this my install "./configure --prefix=/nginx --with-pcre=/pcre-8.39 --with-openssl=/openssl-1.1.1c --with-zlib=/zlib-1.2.8 --with-http_sub_module"

[2021-11-26 06:27] spacewander commented on #151
A known issue in the old version of OpenResty.
Better to upgrade OpenResty 1.19+

[2021-12-01 06:47] smallbirdwy commented on #151
thank you

[2021-12-01 06:47] #151 closed

[2022-02-11 08:13] HelloBug0 opened #152 "discuss: What's the reason to program like this?"
lib/resty/etcd/v3.lua
From [L434](https://github.com/api7/lua-resty-etcd/blob/f75f4c551b048e00233df38ab725b46218b35de9/lib/resty/etcd/v3.lua#L434) to [L487](https://github.com/api7/lua-resty-etcd/blob/f75f4c551b048e00233df38ab725b46218b35de9/lib/resty/etcd/v3.lua#L487)
[code]
I think these can change to as follows
[code]
Are there any reasons that I ingnore? Please let me know.

[2022-02-13 12:34] spacewander commented on #152
Good catch. I think we need to fix it.

[2022-02-18 08:05] nic-6443 opened #153 "bug: watch responses may be incorrectly parsed in the case of ETCD being proxied by a load balancer like nginx"
We have encountered some problems in using apisix, because our etcd uses nginx as a proxy. When etcd returns event responses as http chunk after passing through nginx proxy, the following two situations may occur:
1. the data of an event is larger than the `proxy_buffer_size` of nginx, the origin chunk will be split into two chunks by nginx and sent to apisix, resulting in the `body_reader()` gett

[2022-03-03 01:30] #153 closed

[2022-05-05 06:05] #152 closed

[2022-05-23 02:21] zhendongcmss opened #158 "Bug: it doesn't support ipv6 address"
Please see this issue on apisix:
https://github.com/apache/apisix/issues/7100

[2022-05-27 11:18] dadins opened #159 "tlshandshake not support"
ngx.socket.tcp() dose not has method tlshandshake()

[2022-05-30 00:58] tzssangglass commented on #159
Can you describe it in more detail? I don't know what you are trying to say.

In fact, we added the tlshandshake patch to apisix-base. see: https://github.com/api7/apisix-nginx-module/blob/main/patch/README.md

[2022-07-19 05:00] spacewander opened #169 "the first chosen endpoint of lua-resty-etcd is always the first endpoint"
We should introduce a random initial offset, otherwise all the connections will hit the first endpoint.

All the endpoints should be treated as nodes in a ring.

We pick the first node from a random position in the ring, if it is unhealthy, try the node after it.

[2022-07-26 07:33] #169 closed

[2022-07-29 08:50] danischroeter commented on #159
Hi @tzssangglass
I've been trying to use lua-resty-etcd in openresty and probably hit the same problem as @dadins

the underlying socket does not provide the tlshandshake function and thus `http_connect.lua` falls back to ssl_handshake

I added a debug log to show this (`http_connect.lua`)
[code]
and when testing it:
[code]

This hurts in my case since this way the provided client certificate deta

[2022-07-29 09:30] tzssangglass commented on #159
In fact, this is already implemented in APISIX.  ref: https://github.com/apache/apisix/pull/7540/files#diff-50936d6780259bf539f3e60ae8008e586e5ec0185ae2a1997133f07585d900af

This requires do patch to `ngx.socket.tcp`, this is the patch: https://github.com/api7/apisix-nginx-module/blob/main/patch/1.21.4/lua-resty-core-tlshandshake.patch

[2022-07-29 10:18] danischroeter commented on #159
Hi @tzssangglass
Thx a lot for the quick response!

I manually applied the referenced patch directly to a dev openresty. Now when I try to start openresty I get this:
[code]

I think the patch version and the openresty version do match - right?
[code]

Is there something obvious that I might have missed?

[2022-07-30 16:20] tzssangglass commented on #159
try: https://github.com/api7/apisix-nginx-module/blob/main/patch/1.21.4/ngx_lua-tlshandshake.patch

[2022-10-20 04:33] yuqiquan opened #180 "使用resty.etcd查询value value值消失"
调用readdir方法，打印返回的res.body 发现有的key存在value 有的则没有
但是通过etcdctl 命令他是存在value的 这是为什么

![image](https://user-images.githubusercontent.com/44921350/196856623-277c21e0-60e0-49bd-88ba-e73255ff3960.png)
![image](https://user-images.githubusercontent.com/44921350/196856718-b4b6475e-1024-47ec-b92f-f4a7c2288243.png)

但是有的key又有value
![Uploading image.png…]()

[2022-10-21 01:42] tzssangglass commented on #180
The screenshot you took is not the same key

[2022-10-21 02:24] yuqiquan commented on #180
https://user-images.githubusercontent.com/44921350/196856718-b4b6475e-1024-47ec-b92f-f4a7c2288243.png

这个是我调用readdir函数查询 key为/wo 的返回信息 是没有value的

但是 通过etcdctl get  /wo命令查询他是有value的

[2022-10-21 03:15] tzssangglass commented on #180
The logs you see are printed by your `commonutil.lua`, will it be a problem?

Here is the data structure I got from readdir:

[code]

[2022-10-21 03:23] yuqiquan commented on #180
https://github.com/apache/apisix/issues/8138
我是在apisix环境中调用的这个  我把我遇到的问题复现了一遍

[2022-10-21 04:38] tzssangglass commented on #180
Here's an example:

··· shell
etcdctl put /foo '"init_dir"'
etcdctl put /foo/bar  '"abcd"'
···

then use

[code]

the kvs of data will be:

[code]

why?

Because you use etcdctl to set the kv and use `lua-resty-etcd` to get the kv. `lua-resty-etcd` will do the decoding of the value, ref:
https://github.com/api7/lua-resty-etcd/blob/a892f4ea3db03e0950cd6a6f915b591b617921d8/lib/resty/etcd/v3.lua#L618

[2022-11-22 05:34] spacewander opened #187 "Support specifying SNI when `use_grpc` is true"
This requires updating grpc-client-nginx-module first.

[2022-11-22 05:35] spacewander opened #188 "Support specifying user/password when `use_grpc` is true"
This requires updating grpc-client-nginx-module first.